@{
    ViewBag.Title = "Capacitación";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="row">
    <div class="col-md-6 col-md-offset-1 navmapa">
        Inicio > Formación para el control social > Capacitación virtual<br /><br />
    </div>
</div>
@*<div class="page-container">*@


<div class="row">
    <div class="col-sm-2 form-group">
    </div>
    <div class="col-sm-8 form-group tnormal">
        <p>
            Encuentra un listado con posibilidades de formación enfocados en veedurías ciudadanas y herramientas para ejercer control social.
        </p>
    </div>
    <br /> <br />
    <div class="col-sm-2 form-group">
    </div>
</div>
@*<div class="page-content-holder">*@
<div class="row">
    <div class="col-md-3 col-md-offset-1 derecha titulodoc">
        Capacitación virtual<br />
    </div>
    <div class="col-md-8 banner1">
        <img src="~/Content/img/Riav/lineaAmarilla.png" />
    </div>
</div>
<br />
@for (int i = 0; i < ViewBag.Lista.Length; i = i + 1)
{

    <div class="row">
        <div class="col-sm-2 ">
        </div>
        <div class="col-sm-6 ">
            <div class="azulTitulo titulopreg">
                @*<br />*@
                @ViewBag.Lista[i].Titulo
            </div>
        </div>
        <div class="col-sm-2 ">
            <div class="banner1">
                <a href=@ViewBag.Lista[i].Enlace> <img src="~/Content/img/riav/btn_presentacion.png" /></a>
            </div>
        </div>
    </div>
    <br />
}


@*</div>*@


@*</div>*@

