@using CapaDominio.EntidadesNegocio
@model CapaDominio.EntidadesNegocio.ContenidoSitio

@{
    ViewBag.Title = "Sistemas de control social";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


<div class="row">
    <div class=" col-md-12 ">
        <table class="table table-striped table-condensed table-hover">
         
            <tbody>
                   @for (int i = 0; i < ViewBag.Lista.Length; i=i+3)
                    {
                <tr>
                    <td class="text-center">
                        <p></p>
                    </td>
                    <td class="text-center">
                        <p><a href=@ViewBag.Lista[i].Enlace target="_blank">@ViewBag.Lista[i].Titulo</a></p>
                    </td>

                    <td class="text-center">
                        @if (i + 1 < ViewBag.Lista.Length)
                        {
                        <p><a href=@ViewBag.Lista[i + 1].Enlace target="_blank">@ViewBag.Lista[i + 1].Titulo</a></p>
                        }
                    </td>

                    <td class="text-center">
                        @if (i + 2 < ViewBag.Lista.Length)
                        {
                            <p><a href=@ViewBag.Lista[i + 2].Enlace target="_blank">@ViewBag.Lista[i + 2].Titulo</a></p>
                        }
                        </td>
                    <td class="text-center">
                        <p></p>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>







