@*@using CapaDominio.EntidadesNegocio
    @model CapaDominio.EntidadesNegocio.ContenidoSitio*@

@{
    ViewBag.Title = "Formación";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="row">
    <div class="col-md-3 col-md-offset-1 navmapa">
        Inicio > Formación para el control social<br />
    </div>
</div>
<br /><br />

<div class="page-container">
    <div class="banner1">
        <img src="~/Content/img/riav/banner_formacion.png" />
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-12 centrado titulodoc">
        Formación para el control social<br />
        <br />
        <br />
    </div>
</div>
<div class="row">
    <div class="col-sm-2 form-group">
    </div>
    <div class="col-sm-8 form-group tnormal">
        <p>
            Encuentra mecanismos formativos y pedagógicos para ejercer la vigilancia y el control social. Esta dividido en 2 secciones, módulos del plan nacional de formación para el control social y capacitación virtual
        </p>
    </div>
    <br /> <br />
    <div class="col-sm-2 form-group">
    </div>
</div>
<div class="row">
    <div class="opcion col-sm-3 form-group">
    </div>
    <div class="opcion col-sm-3 form-group">
        <a href="~/Paginas/modulos">   <img src="~/Content/img/riav/btn_modulos.png" /></a>
    </div>

    <div class="opcion col-sm-3 form-group">
        <a href="~/Paginas/capacitacion">   <img src="~/Content/img/riav/btn_capacitacion.png" /></a>
    </div>

    <div class="opcion col-sm-3 form-group">
    </div>
</div>




