@{
    ViewBag.Title = "Herramienta Control Social";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!-- page content -->
@*<div class="page-content-wrap bg-light">*@
<div class="row">
    <div class="col-md-3 col-md-offset-1 navmapa">
        Inicio > ¿Cómo usar la herramienta?<br />
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 titulopag">
        ¿Cómo usar la herramienta?<br />
    </div>
</div><br /><br />
<body>
    <div class="page-container">

        <div class="container">
            <!-- start YouTube -->
            <div class="row">
                <div class="col-md-3">



                </div><!--.col -->

                <div class="col-md-4">
                    <div class="vid">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/EVsJ0m0DsIY" allowfullscreen=""></iframe>
                    </div><!--./vid -->

                </div><!--.col -->

                <div class="col-md-4">


                </div><!--.col -->

            </div><!--./row -->
            <br /><br /><br /> <br />
        </div>
        <div class="text-justify">
            <div class="col-sm-3 form-group">
            </div>

            <div class="opcion col-sm-6 form-group tnormal">
                <p>
                    Bienvenido a la herramienta de acompañamiento a las veedurías ciudadanas. En esta plataforma
                    podrás encontrar una estrategia integral para apoyar y fortalecer el ejercicio de control social a la
                    gestión publica. En este video instructivo podrás conocer las posibilidades que brinda la caja de
                    herramientas, la sección de módulos de capacitación, el paso a paso para hacer control social a la
                    gestión pública, búsqueda de proyectos, documentos para fortalecer la vigilancia a las entidades
                    públicas o que presten servicios públicos, entre otras herramientas desarrolladas para contribuir al
                    trabajo que hacen las veedurías a la gestión pública.
                </p>
                <p>
                    Tambien encontrará información de contexto regional y de programas y proyectos para
                    implementación de compromisos del Acuerdo de Paz en cinco subregiones de los Programas de
                    Desarrollo con Enfoque Territorial (PDET): Catatumbo, Bajo Cauca y Nordeste Antioqueño, Pacífico y
                    Frontera Nariñense, Alto Patía Norte del Cauca, Sierra Nevada y Perijá.
                </p>
            </div>
            <br /> <br />
            <div class="col-sm-4 form-group">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 form-group">
            </div>

            <div class="btlargo col-sm-4 form-group">
                @*<a href="~/Paginas/preguntas"> <img src="~/Content/img/riav/btn_preguntas.png" /></a>*@
</div>

            <div class="col-sm-3 form-group">
            </div>
        </div>

        <!-- ./page content holder -->
    </div>
    @*</div>*@
</body>