@{
    ViewBag.Title = "Herramienta Control Social";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!-- page content -->
@*<div class="page-content-wrap bg-light">*@
<div class="row">
    <div class="col-md-3 col-md-offset-1 navmapa">
        Inicio > Páginas de interés<br /><br />
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 titulopag">
        Páginas de interés<br />
    </div>
</div><br />
      <div class="page-content-wrap">
          <div class="banner1">
              <img src="~/Content/img/riav/banner_paginteres.png" />
          </div>
          <div class="page-content-holder">
              <br />  <br />  <br />  <br />

              <div class="row">
                  <div class="col-sm-3 form-group">
                  </div>

                  <div class="col-sm-6 form-group titulocentro">
                      Entidades de la red de apoyo a veedurías
                  </div>

                  <div class="col-sm-3 form-group">
                  </div>
              </div>
              <div class="row">
                  <div class="banner-1">
                      <br />
                      <br />
                      <br />
                      <a href="https://www.contraloria.gov.co" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Contraloría"><img src="~/Content/img/contraloria.png" /></a>
                      <a href="https://www.procuraduria.gov.co" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Procuraduría General de la Nación"><img src="~/Content/img/procuraduria.png" /></a>
                      <a href="https://www.mininterior.gov.co" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Ministerio del Interior"><img src="~/Content/img/mininterior.png" /></a>
                      <a href="https://www.defensoria.gov.co" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Defensoría del Pueblo"><img src="~/Content/img/def_pueblo.png" /></a>
                      <br />
                      <a href="https://www.funcionpublica.gov.co" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Función Pública"><img src="~/Content/img/funcionpublica.png" /></a>
                      <a href="https://www.esap.edu.co" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Escuela Superior de Administración Pública"><img src="~/Content/img/esap.png" /></a>
                      <a href="https://www.dnp.gov.co" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Departamento Nacional de Planeación"><img src="~/Content/img/dnp.png" /></a>
                      <br />
                      <br />
                      <br />
                      @*<img src="~/Content/img/riav/entidades.png" />
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1820 394">
            <image width="1820" height="394" xlink:href="~/Content/img/riav/entidades.png"></image>
            <a xlink:href="https://www.contraloria.gov.co/" target="_blank">
                <rect x="374" y="122" fill="#fff" opacity="0" width="245" height="50"></rect>
            </a>
            <a xlink:href="https://www.procuraduria.gov.co/portal/" target="_blank">
                <rect x="643" y="100" fill="#fff" opacity="0" width="100" height="100"></rect>
            </a>
            <a xlink:href="https://mininterior.gov.co/" target="_blank">
                <rect x="758" y="112" fill="#fff" opacity="0" width="306" height="65"></rect>
            </a>
            <a xlink:href="https://funcionpublica.gov.co/" target="_blank">
                <rect x="459" y="259" fill="#fff" opacity="0" width="328" height="65"></rect>
            </a>
            <a xlink:href="https://www.esap.edu.co/portal/" target="_blank">
                <rect x="829" y="242" fill="#fff" opacity="0" width="100" height="100"></rect>
            </a>
            <a xlink:href="https://dnp.gov.co" target="_blank">
                <rect x="965" y="258" fill="#fff" opacity="0" width="347" height="66"></rect>
            </a>
            <a xlink:href="https://www.defensoria.gov.co/" target="_blank">
                <rect x="1088" y="111" fill="#fff" opacity="0" width="315" height="67"></rect>
            </a>
        </svg>*@
                  </div>
              </div>

              <br />
           
          </div>
              <!-- ./page content holder -->
          </div>
          @*</div>*@
