@{
    ViewBag.Title = "Herramienta Control Social";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!-- page content -->
@*<div class="page-content-wrap bg-light">*@
<div class="row">
    <div class="col-md-3 col-md-offset-1 navmapa">
        Inicio > Pasos para el control social<br /><br />
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 titulopag">
        Pasos para el control social<br />
    </div>
</div><br /><br />
<div class="page-container">
    <div class="banner1">
        <img src="~/Content/img/riav/banner_pasos.png" />
    </div>
    <div class="page-content-holder">
        <br />  <br />  
        <div class="row">

        </div>

        <div class=" text-justify">
           
            <div class="row">
                <div class="col-sm-2 form-group">
                </div>

                <div class="opcion col-sm-8 form-group tnormal">
                    <p>
                        Todo ciudadana y ciudadano puede ejercer el control social sin necesidad de organizarse, sin embargo las veedurías ciudadanas legalmente constituidas, reciben apoyos específicos para desarrollar el ejercicio del control social.
                        Los 9 pasos, son una guía metodológica dirigida a orientar y realizar un ejercicio completo y sistemático del control social, de este modo se pueden abarcar las etapas, seguimientos y evidencias del ejercicio.
                        <br />  En ese sentido esta es la guía donde puedes afianzar tu conocimiento acerca de los pasos de control social, sin embargo, para llevar a cabo este ejercicio debes <a href="~/Cuenta/IniciarSesion" target="_blank"><b><u>ingresar</u></b></a> y <a href="~/Cuenta/registro" target="_blank"><b><u>registrarte</u></b></a> en el este <a href="~/Cuenta/registro" target="_blank">enlace</a>
</p>
                </div>
                <br /> <br />
                <div class="col-sm-2 form-group">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="opcion col-sm-2 form-group">
            </div>
            <div class="opcionp col-sm-3">
                <a href="~/Content/Doc/PASOS1.pdf" target="_blank"><img src="~/Content/img/riav/btn_paso1.png"class="img-fluid" ></a>
            </div>

            <div class="opcionp col-sm-3">
                <a href="~/Content/Doc/PASOS2.pdf" target="_blank"><img src="~/Content/img/riav/btn_paso2.png"class="img-responsive" ></a>
            </div>

            <div class="opcionp col-sm-3 form-group img-responsive">
                <a href="~/Content/Doc/PASOS3.pdf" target="_blank"><img src="~/Content/img/riav/btn_paso3.png"></a>
            </div>

            <div class="opcion col-sm-1 form-group">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-2 form-group">
            </div>
            <div class="opcionp col-sm-3 form-group">
                <a href="~/Content/Doc/PASOS4.pdf" target="_blank"><img src="~/Content/img/riav/btn_paso4.png"></a>
            </div>

            <div class="opcionp col-sm-3 form-group">
                <a href="~/Content/Doc/PASOS5.pdf" target="_blank"><img src="~/Content/img/riav/btn_paso5.png"></a>
            </div>

            <div class="opcionp col-sm-3 form-group">
                <a href="~/Content/Doc/PASOS6.pdf" target="_blank"><img src="~/Content/img/riav/btn_paso6.png"></a>
            </div>

            <div class="col-sm-1 form-group">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-2 form-group">
            </div>
            <div class="opcionp col-sm-3 form-group">
                <a href="~/Content/Doc/PASOS7.pdf" target="_blank"><img src="~/Content/img/riav/btn_paso7.png"></a>
            </div>

            <div class="opcionp col-sm-3 form-group">
                <a href="~/Content/Doc/PASOS8.pdf" target="_blank"><img src="~/Content/img/riav/btn_paso8.png"></a>
            </div>

            <div class="opcionp col-sm-3 form-group">
                <a href="~/Content/Doc/PASOS9.pdf" target="_blank"><img src="~/Content/img/riav/btn_paso9.png"></a>
            </div>

            <div class="col-sm-1 form-group">

            </div>
        </div>
        <br />
        <br />

    </div>
    <!-- ./page content holder -->
</div>
@*</div>*@
