@{
    ViewBag.Title = "Herramienta Control Social";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!-- page content -->
@*<div class="page-content-wrap bg-light">*@
<div class="row">
    <div class="col-md-3 col-md-offset-1 navmapa">
        Inicio > Páginas de interés<br /><br />
    </div>
</div>
@*<div class="row">
 
</div><br />*@
      <div class="page-content-wrap">
          <div class="banner1">
              <img src="~/Content/img/riav/banner_paginteres.png" />
          </div>
          <div class="page-content-holder">
              <br />  <br />  <br />  <br />
              <div class="row">

                  <br />
                  <div class="row">
                      <div class="col-sm-3 form-group">
                      </div>

                      <div class="col-sm-6 form-group titulocentro">
                          Sistemas de información para control social
                      </div>

                      <div class="col-sm-3 form-group">
                      </div>
                  </div>
                  <br />
                  @for (int i = 0; i < ViewBag.ListaS.Length; i = i + 3)
                  {
                  <div class="row">
                      <div class="col-sm-2 form-group ">
                      </div>
                      <a href=@ViewBag.ListaS[i].Enlace target="_blank">
                          <div class="col-sm-3 form-group">
                              <img src="~/Content/img/Riav/@ViewBag.ListaS[i].Imagen" style="max-width: 90%; " background-size: contain; />
                          </div>
                      </a>
                    
                      @if (i + 1 < ViewBag.ListaS.Length)
                      {
                      <a href=@ViewBag.ListaS[i + 1].Enlace target="_blank">
                          <div class="col-sm-3 form-group">
                              <img src="~/Content/img/Riav/@ViewBag.ListaS[i+1].Imagen" style="max-width: 90%; " background-size: contain; />
                          </div>
                      </a>
                      }
                  
                          
                     @if (i + 2 < ViewBag.ListaS.Length)
                       {
                      <a href=@ViewBag.ListaS[i + 2].Enlace target="_blank">
                          <div class="col-sm-3 form-group">
                              <img src="~/Content/img/Riav/@ViewBag.ListaS[i+2].Imagen" style="max-width: 90%; " background-size: contain; />
                          </div>
                      </a>
                      }


                          @*<div class="col-sm-1 form-group">
                </div>*@

                      </div>

                  }
                  <br />
              </div>
             
          </div>
          </div>
